mat-card
{
  max-width: 600px;
  max-height: 600px;
  margin: 2em auto;
  text-align: center;
}

.header{
  text-align: center;
}

.full-width
{
  width: 80%;
}

.forgot-password{
  padding-left: 0px;
}

.email-imput{
  padding-top: 10px;
}

.aLink
{
  float: right;
  padding-right: 60px;
  text-decoration: none;
}
